@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root{

    /*Colores ....*/
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);
    
    --dark-solid: #1f1f1f ;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --ligth-bg-solid:#FAFAFF;
    --ligth-font-solid: #FFFF;



    /*LETRAS......*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*FONT-SIZES-------*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /*SPACINGS-----*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}


/*NORMALIZACIÓN DE ESTILOS--------*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--base-font);
    font-size: 62.5%; /*para normalizar el tamaño son 16px = em, rem */
    color: var(--dark-solid);
}

a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,
footer{
    font-family: var(--alternative-font);
    color: var(--ligth-font-solid);
}

ul, ol{
    list-style-type: none;
}

p{
    font-size: 1.8em;
}

img{
    width: 100%;
}

.container, .navbar{
    max-width: 1200px;
    margin:0 auto;
}






/*HEADER --------*/

header{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    max-width: 300px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover{
    background-color: var(--primary-900);
}

.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu{
    display: block;
}

.submenu{
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link{
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
}

.submenu__link:hover{
    background-color: var(--primary-900);
    transition: background .3s ease-in-out;
}

/*INICIO ITEM PRINCIPAL */
.item-content{
    display: flex;
    flex-direction: row;
}

.tex-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-12);
}

.item-cover{
    display: flex;
    position: relative;
}

.item-cover img{
    animation: fade .7s;
}

.item-img--back{
    display: none;
}

.item-cover:hover .item-img--back{
    display: block;
}

.item-cover:hover .item-img--front{
    display: none;
}

.item-licence{
    font-family: var(--base-font);
    font-size: small;
}
.item-name{
    font-family: var(--base-font);
    font-size: var(--font-display);
}
.item-text{
    font-family: var(--base-font);
    font-size: var(--font-large);
}
.item-price{
    font-family: var(--base-font);
    font-size: var(--font-jumbo);
}

.item-buttom{
    display: flex;
    gap: var(--spacing-12);
}

.item-agregar{
    width: 105.47px;
    height: 35.24px;
    top: 565.95px;
    left: 726.75px;
    border: 0.5px;
    border: 0.5px solid rgba(201, 201, 201, 1)

}

.boton{
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}

.item__button{
    width: 18px;
    height: 16px;
    top: 585.14px;
    left: 841px;
    text-align: center;
    padding: 4px, 0px, 4px, 0px;
    background: rgba(79, 79, 79, 1);
    color: rgba(255, 255, 255, 1);
}

.item__agregar{
    width: 181px;
    height: 37.91px;
    top: 565.57px;
    left: 888.33px;
    background: var(--primary-solid);
    font-family: var(--base-font);
    font-style: var(--font-medium);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border-style: none;


}

.item-promos{
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    color: rgba(29, 132, 181, 1);

}

/*incio tarjetas o card */
.slider{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase; /*MAYUSCULAS*/
}

.slider__items{
    display: flex;
    gap: var(--spacing-24); 
}

.card-item__cover{
    display: flex;
    position: relative;
}

.card-item__tag{
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--ligth-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
}

.card-item__cover img{
    animation: fade .7s;
}

.card-item__img--back{
    display: none;
}

.card-item__cover:hover .card-item__img--back{
    display: block;
}

.card-item__cover:hover .card-item__img--front{
    display: none;
}

.card-item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence{
    font-size: var(--font-xsmall);
    font-weight: 500;
}
.card-item__name{
    font-size: var(--font-medium);
    font-weight: 700;
}
.card-item__price{
    font-size: var(--font-small);
}
.card-item__promo{
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

/*estilos imagenes de cartas */

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}




/*footer*/
.footer{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy{
    text-align: center;
    margin-top: var(--spacing-36);
}